[flake8]
output-file = flake8.txt ; this option is broken in Python 3.8 https://github.com/pycqa/flake8/issues/725
max-line-length = 88
statistics = True
ignore = E501, W503, E722, F841, W291
extend-ignore = E203