*.html
*.o
*.mod
*.exe
*.pdf
*.aux
*.log
*.lof
/test_suite/*.xunit
/test_suite/test_area/*
/test_suite/test_area/
/build/*
*__pycache__
*.pyc
*.dvi
*.lot
*.out
*.toc
*.dir
.vscode
autodoc
*.pro
process_dicts.py
process_dicts.py_prev
gui_dicts.py
gui_dicts.py_prev
rootdir.py
VFILE.DAT
MFILE.DAT
PLOT.DAT
OUT.DAT
tag.num
untracked.info
com.msg
Katy_test/*
KatyTest/*
PLASMOD/CHARTST/*
PLASMOD/*.DAT
PLASMOD/*.dat
PLASMOD/fort.*
PLASMOD/output_list.txt
PLASMOD/KE*
*~
lib/PLASMOD/CHARTST/*
lib/PLASMOD/*.DAT
/lib/PLASMOD/*.dat
/lib/PLASMOD/fort.*
/lib/PLASMOD/output_list.txt
/lib/PLASMOD/KE*
/utilities/run_process.conf
