*.html
*.o
*.mod
*.exe
*.pdf
*.aux
*.log
*.lof
/test_suite/test_area/*
/test_suite/test_area/
*__pycache__
*.pyc
*.dvi
*.lot
*.out
*.toc
*.dir
.vscode
autodoc
*.pro
process_dicts.py
process_dicts.py_prev
gui_dicts.py
gui_dicts.py_prev
rootdir.py
VFILE.DAT
*~