.spyderproject
*.html
*.mod
*.o
*.aux
*.py~
*_prev
process.log
process.lof
process.lot
process.pdf
process.toc
process.out
process.dvi
IN.DAT
OUT.DAT
PLOT.DAT
MFILE.DAT
autodoc
root.dir
utilities/docs
utilities/__pychache__
utilities/process_io_lib/__pychache__
utilities/process_io_lib/process_dicts.py
utilities/processgui/dicts/gui_dicts.py
utilities/rootdir.py

Run*
