mkdocs>=1.1
mkdocs-material>=4.6.3
pymdown-extensions>=6.3
numpy>=1.19.1
scipy>=0.19.1
matplotlib>=2.1.1
pathlib>=1.0.1
pillow>=5.1.0
Markdown>=3.2.2
toposort>=1.5
pytest>=5.4.1
git+https://github.com/jonMaddockUkaea/ford
f90wrap>=0.2.3
netCDF4>=1.5.4